<footer class="footer">
	<div class="l">
		<div class="footer__in row">
			<div class="col">
				<!-- begin footer__logo -->
				<div class="footer__logo">
					<img src="img/luna-logo.svg" alt="" class="logo">
				</div>
				<!-- end footer__logo -->
				<!-- begin footer__desc -->
				<div class="footer__desc">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.incididunt ut labore et dolore magna aliqua.</p>
				</div>
				<!-- end footer__desc -->
			</div>
			<div class="col text-right">
				<button class="button">Contact us</button>
			</div>
		</div>
		<!-- begin footer__meta -->
		<div class="footer__meta row">
			<div class="col">
				<p>Copyright © 2015. <a href="" class="link blue">LUNA STUDIO.</a> All rights reserved.</p>
			</div>
			<div class="col text-right">
				<p>DESIGNED with {{ mixins.icon('heart') }} BY <a href="" class="link blue">SYMU.CO</a></p>
			</div>
		</div>
		<!-- end footer__meta -->
	</div>
</footer>